<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO</title>
    <script src="jquery.js"></script>

    <!-- <script src="./node_modules/socket.io/client-dist/socket.io.js"></script> -->
    <script src="socket.io/socket.io.js"></script>  
    <!-- http://localhost:3000/socket.io/socket.io.js : when server run check it -->
    
    <script>
      var socket = io("http://localhost:3000");

      $(document).ready(function() {

        var count = 1;
        $("#button1").click(function() {

          // client send to server
          socket.emit("client-send-data", `Hello: ${count++}`)
        })

        $("#button2").click(function() {
          let data = [
            {
              "id": 1,
              "name": "Javascript",
              "price": "3000"

            },
            {
              "id": 2,
              "name": "CSS",
              "price": "5000"
            }
          ]

          // client send to server
          socket.emit("client-send-object", JSON.stringify(data))
        })
      });

      // received data from server
      socket.on("server-response-data", function(data) {
        $("#content1").append(`<li> ${data} </li>`)
      })

      socket.on("server-response-object", function(data) {

        const courses = JSON.parse(data);

        let html = [];
        let temp = "";
        for (const course of courses) {
            temp = course['id'] + '-' + course['name'] + '-' + course['price'];
            html.push(temp);
        }
        $("#content2").append(`<li> ${html.join(', ')} </li>`)
      })

      socket.on("server-response-typing-event", function(data) {

      })

      socket.on("server-response-stop-typing-event", function(data) {

      })

      $('#txtMessage').focusin(function() {
        console.log("change!!!")
        socket.emit("typing-event");
      })

      $('#txtMessage').focusout(function() {
        console.log("change!!!")
        socket.emit("stop-typing-event");
      })

    </script>
  </head>
  <body>
    Demo nodejs

    <div>
      <button id="button1"> Send Variable </button>
      <button id="button2"> Send Object </button>
    </div>

    <div>
      <input id="txtMessage" type="text" /> 
    </div>

    <div>
      <ul id="content1"> </ul>
    </div>

    <hr />

    <div>
      <ul id="content2"> </ul>
    </div>

  </body>
</html>
