<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO</title>
    <script src="jquery.js"></script>

    <!-- <script src="./node_modules/socket.io/client-dist/socket.io.js"></script> -->
    <script src="socket.io/socket.io.js"></script>  
    <!-- http://localhost:3000/socket.io/socket.io.js : when server run check it -->
    
    <script>
      var socket = io("http://localhost:3000");

      $(document).ready(function() {
        $("#button1").click(function() {
          socket.emit("client-send-data", "Hello")
        })

        $("#button2").click(function() {
          let data = [
            {
              "id": 1,
              "name": "Javascript",
              "price": "3000"

            },
            {
              "id": 2,
              "name": "CSS",
              "price": "5000"
            }
          ]
          socket.emit("client-send-object", JSON.stringify(data))
        })
      });
    </script>
  </head>
  <body>
    Demo nodejs

    <div>
      <button id="button1"> Send Variable </button>
      <button id="button2"> Send Object </button>
    </div>
  </body>
</html>
