<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO</title>
    <script src="jquery.js"></script>

    <!-- <script src="./node_modules/socket.io/client-dist/socket.io.js"></script> -->
    <script src="socket.io/socket.io.js"></script>  
    <!-- http://localhost:3000/socket.io/socket.io.js : when server run check it -->
    
    <script>
      var socket = io("http://localhost:3000");

      $(document).ready(function() {

      });
    </script>
  </head>
  <body>
    Hello Man
     
  </body>
</html>
